/*  --- ME AND MICHAL --- */
.container-me-michal {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: auto;
    margin-inline: auto;
    justify-items: center;
    max-width: 1500px;
}

.portrait {
    width: 100%;
    max-width: 250px;
}

.portrait > img {
    width: 250px;
    height: auto;
}

.cloud {
    position: relative;
    width: 100%;
    max-width: 800px;
    width: auto;
}

.cloud > img {
    width: 800px;
    height: 400px;
}

.text-field {
    position: absolute;
    top: 12%;
    left: 22%;
    transform: (-50%, -50%);
    width: 580px;
    height: 320px;
    padding: 0px;
    margin: 0px;
}

/*  --- LOOKING FOR MICHAL --- */

.grid-with-doors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 10px;
    margin-inline: auto;
    justify-items: center;
    max-width: 1200px;
}
.grid-with-doors > button {
    width: 250px;
    height: 400px;
    padding: 0;
    border: none;
}

.close  {
    display: none;
}

.open {
    display: block;
    width: 250px;
    height: 400px;
    padding: 0;
    border: none;
}

.container-green-red {
    display: block;
    position: relative;
    width:100%;
    max-width:250px;
}

.cointainer-green-red img {
    width: 250px;
    height: 400px;
}

.btn {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 16px;
    width: 120px;
    color:black;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}
.btn:hover{
    font-weight: bold;
}

#green {
    top: 20%;
    background-color: rgb(6, 105, 6);
}

#red {
    top: 30%;
    background-color: rgb(205, 8, 8);
}

#england { 
    background: url("./images/doors4.gif"), no-repeat;
    background-size: contain;
}
#england:hover { 
    background: url("./images/doors4h.gif"), no-repeat;
    background-size: contain;
}

#american { 
    background: url("./images/doors8.gif"), no-repeat;
    background-size: contain;
}
#american:hover { 
    background: url("./images/doors8h.gif"), no-repeat;
    background-size: contain;
}

#classic { 
    background: url("./images/doors6.gif"), no-repeat;
    background-size: contain;
}
#classic:hover { 
    background: url("./images/doors6h.gif"), no-repeat;
    background-size: contain;
}

#stone { 
    background: url("./images/doors3.gif"), no-repeat;
    background-size: contain;
}
#stone:hover { 
    background: url("./images/doors3h.gif"), no-repeat;
    background-size: contain;
}

#broken { 
    background: url("./images/doors9.gif"), no-repeat;
    background-size: contain;
}
#broken:hover { 
    background: url("./images/doors9h.gif"), no-repeat;
    background-size: contain;
}

#wc { 
    background: url("./images/doors2.gif"), no-repeat;
    background-size: contain;
    width: 250px;
}
#wc:hover { 
    background: url("./images/doors2h.gif"), no-repeat;
    background-size: contain;
}

#david { 
    background: url("./images/doors5.gif"), no-repeat;
    background-size: contain;
}
#david:hover { 
    background: url("./images/doors5h.gif"), no-repeat;
    background-size: contain;
}

#twinp { 
    background: url("./images/doors1.gif"), no-repeat;
    background-size: contain;
}
#twinp:hover { 
    background: url("./images/doors1h.gif"), no-repeat;
    background-size: contain;
}


/*  --- INSIDE LOOKING FOR MICHAL > CLOUD WITH ME-COL --- */

#cloud-with-text1 {
    position: relative;
    width: 100%;
    max-width: 600px;
    grid-column-start: 1;
    grid-column-end: 3;
}

#cloud-with-text2 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.small-cloud {
    width: 600px;
    height: 400px;
}

.me-small {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: (-50%, -50%);
    width: 150px;
    height: 150px;
    border: 3px;
}

.text-field-small {
    position: absolute;
    top: 38%;
    left: 22%;
    transform: (-50%, -50%);
    width: 350px;
    height: 230px;
    padding: 0px;
    margin: 0px;
}


