
.cont-img{
    position: relative;
}

.overlay-img {
    position: relative;
    top: 0px;
    left: 0px;
}

.underlay-img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.cont-art {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    row-gap: 10px;
    margin-inline: auto;
    justify-items: center;
    background: white;
    max-width: 1500px;
}

.cont-art  > div {
    background: white;
    width: auto;
    height: auto;
    overflow: hidden;
    box-shadow: 3px 3px 1px lightgray;
}

.img-big-ver {
    max-height: 810px;
    max-width: 598px;
}

.img-ver {
    max-height: 400px;
    max-width: 294px;
}

.img-hor {
    max-height: 400px;
    max-width: 598px;
}

.img-hor-long {
    max-height: 400px;
    max-width: 902px;
}


.txt-ver {
    position: absolute;
    transform: (-50%, -50%);
    margin: 10%;
    max-height: 380px;
    max-width: 285px;
    padding: 0px;
    margin: 0px;
}

.artw1:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.artw1:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
}

.artw1:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.artw2:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

