
html {
  font-family: Garamond, Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth !important;
} 
/* FONTS */
.courier {
  font-family: 'Courier New', Courier, monospace;
}

.marker {
    font-family: 'Permanent Marker', cursive;
    font-family: 'Sedgwick Ave', cursive;
}
.no-dec-blc {
  text-decoration: none;
  color:black;
}

.relativ {
    position: relative;
}

.txt-center {
  text-align: center;
}

.txt-xxl-ital {
  font-size: xx-large;
  font-style: italic;
}

.txt-xl {
  font-size: x-large;
}

.txt-xxxl {
  font-size: 50px;
}

/* general */

.red {
  color: red;
}

.purple {
  color: rgb(86, 1, 86);
}

.close  {
    display: none;
}

/* --- */ 

.container-head {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.headimg {
  display: flex;
  max-width: 1500px;
  height: auto;
}

.nav {
  display: inline-block;
  position: absolute;
  list-style: none;
  top: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.nav a{
  display: inline-block;
  font-size: x-large;
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.3s;
}

.nav a:hover {
  color: rgb(86, 1, 86);
  transform: translateY(-5px);
}

/* --- BODY --- */
.heroimg {
  display: flex;
  width: 100%;
  max-width: 1500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}


span {
  padding: 10px;
}

.span40 {
  padding: 40px;
}

.cont-h1 {
  display: grid;
  position: relative;
  margin-inline: auto;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 1500px;
}

.cont-h1 > h1 {
  position: absolute;
  font-weight: bold;
  color: black;
}

.cont-h1 > img {
  width: 1500px;
  height: auto;
}



/* --- CLOUD WITH MY PORTRAIT AND TEXT --- */
.container-me {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: auto;
  margin-inline: auto;
  justify-items: center;
  max-width: 1500px;
}

.portrait {
  margin: 20px;
  margin-top: 50px;
  width: 100%;
  max-height: 675px;
}

.portrait > img {
  width: auto;
  height: 675px;
}

.cloud {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 20px;
  margin-top: 50px;
}

.cloud > img {
  width: 900px;
  height: auto}

.text-field {
  position: absolute;
  top: 12%;
  left: 22%;
  transform: (-50%, -50%);
  width: 580px;
  height: 320px;
  padding: 0px;
  margin: 0px;
}

.ins-link {
  font-weight: bold;
  color: rgb(86, 1, 86);
}

.backg1 {
  background-image: url(./images/backimg2.gif);
}

.backg2 {
  background-image: url(./images/backimg3.gif);
}

/* --- GRID WITH PICTURES --- */

.grid-with-story {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: auto;
  margin-inline: auto;
  max-width: 1500px;
  background-image: url(./images/bodyco.gif);
  justify-items: center;
}

.grid-with-story >div {
  width: 354px;
  height: 500px;
  overflow: hidden;
}

.grid-with-story >div >img {
  width: 354px;
  height: 500px;
  overflow: hidden;
}

.txt-in-grid {
  position: absolute;
  font-size: xx-large;
  transform: translate(-50%, -50%);
}
.grid-with-story:hover {
  background:url(./images/bodycol.gif), no-repeat;
}

.body1:hover {
  background:url(./images/bodytxt1h.gif), no-repeat;
  background-size: cover;
}

.body2:hover {
  background:url(./images/bodytxt2h.gif), no-repeat;
}

.body3:hover {
  background:url(./images/bodytxt3h.gif), no-repeat;
}

/* --- elevator --- */

.elev-appears {
  overflow:auto;
}

.elevator {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: auto;
  max-height: 400px;
}

.elevator {
  cursor: pointer;
  border: none;
  background: none;
}

.elev-img {
  width: auto;
  max-height: 400px;
}

#oops {
  position: relative;
  height: 500vh;
}

#oops-img {
  position: absolute;
  bottom: 1px;
  width: auto;
}

/* --- FOOTER --- */
.container-foot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: auto;
  margin-inline: auto;
  background-image: url(./images/footcol1500.gif);
  justify-items: left;
  max-width: 1500px;
}

.container-foot h3, p {
  margin-left: 20px;
  font-size: large;
}

.link {
  display: block;
  margin-left: 20px;
  margin-top: 10px;
  font-size: x-large;
  font-weight: normal;
}

.link:hover {
  color: rgb(86, 1, 86);
  font-weight: bold;
}

.etsy { background: url("./images/etsy.gif") no-repeat;}
.etsy:hover {background: url("./images/etsyh.gif") no-repeat;}

.pint { background: url("./images/pinterest.gif") no-repeat;}
.pint:hover { background: url("./images/pinteresth.gif") no-repeat;}

.fb { background: url("./images/facebook.gif") no-repeat;}
.fb:hover { background: url("./images/facebookh.gif") no-repeat;}

.insta { background: url("./images/instagram.gif") no-repeat;}
.insta:hover { background: url("./images/instagramh.gif") no-repeat;}

.tikt { background: url("./images/tiktok.gif") no-repeat;}
.tikt:hover { background: url("./images/tiktokh.gif") no-repeat;}
